<div class="page-content-wrapper" style="height: 100vh;min-width: 360px;">
    <div class="container-fluid" style="height: 100%;">
        <div class="row" style="background-color: #a3a3a3;">
            <div class="col col-md-1" style="max-width: 60px;"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: #d55122;"></i></a></div>
            <div class="col text-center d-inline-block">
                <h1 class="text-nowrap d-inline" style="color: #d55122;margin-bottom: 0;">About Us</h1>
                <%= image_tag ("SurveyEmpireLogo2.png"), class: 'd-inline float-right', style: "width: 50px;"%>
                <div style="height: 40px;"></div>
            </div>
        </div>
        <div class="row" style="background-image: url(<%= asset_path 'background_6.jpg' %>);min-height: calc(100vh - 88px);">
            <div class="col">
                <div style="width: 90%;margin-left: 5%;margin-right: 5%;">
                    <div class="row">
                        <div class="col" style="height: 100%;margin-top: 5%;">
                            <p class="text-break d-inline-block" style="width: 80%;color: white;"><%= image_tag ("SurveyEmpireLogo1.png"), :style=> 'width: 20%;max-width: 130px;min-width: 60px', :align=>"left"%>Survey Empire is a ..............................................................................................................................................................................................................................................
                                ...................................................................... ............... ........... ..................................... ........... .......................................................................<br><br></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height: 100%;">
                            <h2 style="color: white;">Our GDPR Privacy Policy</h2>
                            <p class="text-break" style="color: white;">How we manage your data to keep inline with GDPR Rules ............................................................................... ....................................................................................................................................................................&nbsp;<br>...................................................................................................................................................................<br>....................................................................................................................................................................&nbsp;<br>....................................................................................................................................................................<br>....................................................................................................................................................................<br>....................................................................................................................................................................<br></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height: 100%;">
                            <h2 style="color: white;">Contact Us</h2>
                            <p class="text-break" style="color: white;">Contact details ............................................................................... ....................................................................................................................................................................&nbsp;<br>...................................................................................................................................................................<br>....................................................................................................................................................................&nbsp;<br>....................................................................................................................................................................<br>....................................................................................................................................................................<br>....................................................................................................................................................................<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>