<h1>Home#home</h1>
<p>Find me in app/views/home/home.html.erb</p>
<p>The home page for SurveyEmpire. Here you should be able to log in, and then
navigate to pages for survey creation, and survey searching</p>
