<div class="page-content-wrapper" style="height: 100vh;min-width: 360px;">
    <div class="container-fluid" style="height: 100%;">
        <div class="row" style="background-color: #a3a3a3;">
            <div class="col col-md-1" style="max-width: 60px;"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: #d55122;"></i></a></div>
            <div class="col text-center d-inline-block">
                <h1 class="text-nowrap d-inline" style="color: #d55122;margin-bottom: 0;">Terms of Service</h1>
                <%= image_tag ("SurveyEmpireLogo2.png"), class: 'd-inline float-right', style: "width: 50px;"%>
                <div style="height: 40px;"></div>
            </div>
        </div>
        <div class="row" style="background-image: url(<%= asset_path 'background_6.jpg' %>);min-height: calc(100vh - 88px);">
            <div class="col">
                <div style="width: 90%;margin-left: 5%;margin-right: 5%;">
                    <div class="row">
                        <div class="col" style="height: 100%;">
                            <p class="text-break" style="color: white;">These Terms of Service contain the terms under which SurveyEmpire is able to provide its services to you. By using our website you agree to the terms listed below.<br><br></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height: 100%;">
                            <h2 style="color: white;">Payments & Subscription:</h2>
                            <p class="text-break" style="color: white;">You agree to pay SurveyEmpire any fees from services you purchase that have been specified to you in their respective payment management pages. You will be billed using the method selected by you in the payment process if applicable. You will ensure any active payment method provided is valid and kept promptly up to date when required.<br><br></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height: 100%;">
                            <h2 style="color: white;">Privacy & Data collection:</h2>
                            <p class="text-break" style="color: white;">Your personal account data will not be shared with third parties and our services follow the General Data Protection Regulations (GDPR). Data entered when creating and filling surveys will be subject to collection, analysis and processing. You acknowledge that any data entered into surveys hosted by SurveyEmpire could be viewed by other users and must therefore contain no private or personal information. You acknowledge that removing a created survey will not immediately remove its contents from our servers or relevant analytical data generated.<br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
