<div class="row" style="background-image: url(<%= asset_path 'background_6.jpg' %>);min-height: calc(100vh - 88px);">
    <div class="col">
        <div style="width: 90%;margin-left: 5%;margin-right: 5%;">
            <div class="row">
                <div class="col" style="height: 100%;">
                    <h2 style="color: white;">Our GDPR Privacy Policy</h2>
                    <p class="text-break" style="color: white;">How we manage your data to keep inline with GDPR Rules:<br><br>UK and Europe follows the law of GDPR, in order to follow this law we have created a web application that has this law in mind.<br>
Under Chapter 2 Article 5[5] personal data of the user will be private and encrypted. Collected data based on user surveys will be used legitimately in order to improve our services e.g. collection of user response times in order to improve layout of surveys. &nbsp;<br>It is within the right of the user under Chapter 3 Article 15[6]  to be able to access the data we have on them, this can be done through their “my account” details and created surveys.<br>We are responsible for protecting the data of the user under Chapter 4 Article 32[7]. In order to do this we will encrypt users data within our servers as well as incoming and outgoing data using SSL.&nbsp;<br>In case of data breaches, users will be notified of such incidents to conform with Chapter 4 article 34[8], we can announce these through the use of a mailer and or website announcement.<br>Due to chapter 2 Article 5[5] Data gathered conforms to a right of limitations in that redundant data is to be deleted and within this legislation we will also make sure that user data is up to date by sending reminders every year to users to update profiles.<br>Users may also delete any data linked to their profile including their email address, surveys created along with all collected answers and ratings.<br><br></p>
                </div>
            </div>
        </div>
    </div>
</div>