<%# template for tables for questions - there would obviously be an unknown number of questions and answers, so this <table>
  must be generated using javascript from the streamed data (FRONT END) %>
<span id="dumptest">questionTitle</span>
<table class="tableOfQuestions">
  <table class="answers">
    <thead>
      <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>d</td>
      </tr>
    </thead>
    <tbody>
      <tr class='answers_count'>
        <td>5</td>
        <td>8</td>
        <td>3</td>
        <td>5</td>
      </tr>
      <tr class='answers_perc'>
        <td>5</td>
        <td>8</td>
        <td>3</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
</table>
