$(document).ready(function() { // call in the right document???

	function LoadGoogle() {
		google.charts.load('current', {
			callback: drawChart,
			packages:['corechart']
		});

		function drawChart() {
			//Draw a chart for a given question
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Option');
			data.addColumn('number', 'Number of people');
			// loop through answers and [a, countnum]
			/*var questionStatistics = "[";
			for (answerId = 0; answerId < Object.keys(answerList).length; answerId++) {
				questionStatistics += ("[" + answerList[answerId] + ', ' + countList[answerId] + "]");
			}
			questionStatistics += "]";

			console.log(questionStatistics)
			data.addRows(questionStatistics);
			*/

			data.addRows([
        ['Mushrooms', 10],
        ['Onions', 10],
        ['Olives', 10],
        ['Zucchini', 10],
        ['Pepperoni', 10]
      ]);

			var options = {'title':'How Much Pizza I Ate Last Night',
										 'width':400,
										 'height':300};

			var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
			chart.draw(data, options);
		}
	}
	var eventSource = new EventSource("<%= Rails.application.routes.url_helpers.survey_analysis_analyse_survey_path %>");
	$(eventSource).bind("updateTables", function(event) {
		var data = $.parseJSON(event.originalEvent.data);
		console.log(data);
		var numberOfQuestions = data.numberOfQuestions;
		$('#tableOfQuestions').html('');
		var qId;
    for (qId = 1; qId <= numberOfQuestions; qId++) {
			var text = "questionTitle";
			text += qId;
			$('#tableOfQuestions').append(data[text]);
			var questionStatistics = "<table><thead><tr>";
			text = "listOfAnswers";
			text += qId;
			var answerList = data[text];
			text = "countOfAnswers";
			text += qId;
			var countList = data[text];
			text = "percentageForAnswers";
			text += qId;
			var percList = data[text];

			//Now we've loaded the appropriate data, we'll display it in a graph
			//LoadGoogle();

			// After this draws tables
			// for each answer in that question
			for (answerId = 0; answerId < Object.keys(answerList).length; answerId++) {
				questionStatistics += ("<td><strong>" + answerList[answerId] + "</strong></td>");
			}
			questionStatistics += "</tr></thead></strong><tbody><tr>";
			// the number of people who selected each answer
			for (answerId = 0; answerId < Object.keys(answerList).length; answerId++) {
				questionStatistics += ("<td>" + countList[answerId] + "</td>");
			}
			questionStatistics += "</tr><tr>";
			// the percentage of people who selected each answer
			for (answerId = 0; answerId < Object.keys(answerList).length; answerId++) {
				questionStatistics += ("<td>" + percList[answerId] + "</td>");
			}
			questionStatistics += "</tr></tbody></table>";
			$('#tableOfQuestions').append(questionStatistics);
		}
	});
});
