/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require dataTables/extras/dataTables.responsive
 *= require dataTables/jquery.dataTables
 *= require_self
 */

 @import 'bootstrap';
 @import 'styles';
 @import 'Sidebar';
 @import 'Sidebar-1';
 @import 'font-awesome';
 @import 'cookie';

#home_image {
    width: 30%;
    padding-top: 0px;
    min-width: 200px;
}

#menu-toggle:hover {
    background-color: transparent;
}

.link {
    color: #fff;
}

.link:hover {
    color: #fff;
    background-color: transparent;
}
.link:focus {
    color: #fff;
    background-color: transparent;
}
.link:active {
    color: #fff;
    background-color: transparent;
}
.link:visited {
    color: #fff;
    background-color: transparent;
}

.toolbar-row {
    margin: 0px;
}

.toolbar {
    padding: 10px 10px;
    background-color: #df7c59;
    min-width: 331px;
}

.searchbar {
    width: 100%;
    height: 40px;
    padding-left: 5px;
    margin-left: 0px !important;
}

.dataTables_wrapper .dataTables_filter {
    float: none !important;
}

.spacer {
    height: 20px;
}

.half-spacer {
    height: 10px;
}

.entries {
    padding: 10px 10px;
    background-color: #df7c59;
    max-width: 160px;
    padding-bottom: 0px;
}

.paginate {
    padding: 10px 10px;
    background-color: #df7c59;
    max-width: 210px;
}

label {
    color:#fff
}

.paginate_button {
    color: #fff !important;
}

.link-table {
    background-color: #d55122 !important;
    color: #fff !important;
    text-decoration: none !important;
    padding: 5px 5px;
    white-space: nowrap;
}

table.dataTable tbody tr.child {
    background-color: #df7c59 !important;
}

table.dataTable tbody tr.child:hover {
    background-color: #df7c59 !important;
}

.responsive-table {
    border-color: transparent !important;
    background-color: #df7c59 !important;
}

tr {
    background-color: #df7c59 !important;
    color: #fff;
}

.rate {
    float: left;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
    line-height: 45px !important;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.field_with_errors { 
    display: initial !important; 
    padding: 0px !important;
}

.field_with_errors input { 
    border-color: red !important;
    border-width: 2px !important;
}

.field_with_errors label { 
    background-color: red;
}

.field_with_errors select { 
    border-color: red !important;
    border-width: 2px !important;
}

input {
    outline: none !important;
}

.question-input {
    width:70%;
}

@media (max-width:768px) { 
    .question-input {
        width:100%;
    }
}
