<h1>Editing Question Option Selection</h1>

<%= render 'form', question_option_selection: @question_option_selection %>

<%= link_to 'Show', @question_option_selection %> |
<%= link_to 'Back', question_option_selections_path %>
